# Prerequisites
*.d

.metadata/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
.cproject
.dep/
.project
.settings/
.metadata/
*.layout
*.cbp
*.depend

*.log
*.index
*.markers
*.xml
*.ini
*.properties


# make and build files
*.lst
*.eep
*.lss
*.map
*.sym

# I keep these, since I prefer having the reference of the final build
# *.elf
# *.hex

.metadata/*
*.pdom
*.xml
/STM32Cube_FW_F7_V1.8.0/.metadata/*

/STM32Cube_FW_F7_V1.8.0/.metadata/.log
/STM32Cube_FW_F7_V1.8.0/.metadata/.plugins/org.eclipse.core.resources/.projects/smarthome-master/.indexes/d0/eb/history.index
