_htmresc/*
Documentation/*
Drivers/*
Middlewares/*
Utilities/*
package.xml
*.txt
*.html
Projects/*/*
.metadata/
*.log
!GreenFox


/STM32Cube_FW_F7_V1.8.0/.metadata/*

/STM32Cube_FW_F7_V1.8.0/.metadata/.log
/STM32Cube_FW_F7_V1.8.0/.metadata/.plugins/org.eclipse.core.resources/.projects/smarthome-master/.indexes/d0/eb/history.index
